<section class="list">
    <div class="row mt-25 ml-10 header-column">
        <div 
            *ngFor="let col of columns" 
            class="column font-title" 
            [class]="col?.col">
            <span class="font-title">{{ col?.label }} </span>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let task of items" class="col-10 mt-15">
            <app-task-card 
                [task]="task" 
                [format]="'list'"
                (edit)="onEdit($event)"
                (delete)="onDelete($event)"
            ></app-task-card>
        </div>
    </div>
</section>