<section class="list">
    <div class="row mt-25 ml-10 header-column">
        <div 
            *ngFor="let col of columns" 
            class="column font-title" 
            [class]="col?.col">
            <span class="font-title">{{ col?.label }} </span>
        </div>
    </div>
    <app-accordion [value]="items">
        <ng-template #accordionItem let-task>
            <div class="col-10 mt-15">
                <app-task-card 
                    [task]="task"
                    [format]="'list'"
                    (edit)="onEdit($event)"
                    (delete)="openModal(task)"
                ></app-task-card>
            </div>
        </ng-template>
    </app-accordion>
    <app-pagination
        [pagination]="pagination"
        (pageChange)="onPageChange($event)"
    ></app-pagination>
    <ng-template #confirmActions let-dialogRef="dialogRef">
        <div class="d-flex justify-space-around">
            <app-button
                [color]="'accent'"
                [label]="messages.button.cancel"
                [size]="'medium'"
                (onClick)="dialogRef.close(false)">
        </app-button>

        <app-button
            [color]="'success'"
            [size]="'medium'"
            class="ml-15"
            [label]="messages.button.confirm"
            (onClick)="dialogRef.close(true)">
        </app-button>
        </div>
    </ng-template>
</section>