.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5em;
    align-items: center;
    background-color: var(--blue-dark);
    
    .navbar-brand {
        display: flex;
        align-items: center;

        .title {
            margin: 5px 0 0 10px;
            font-size: 30px !important;
            font-weight: 500;
            color: var(--background-white);
        }

        .icon-logo {
            font-size: 36px;
            width: 36px;
            height: 36px;
            margin-left: .3em;
            color: var(--background-white);
        }
    }

    .navbar-links {
        .manager-user {
            display: flex;
            align-items: center;
        }
    }
}