<ng-container [ngSwitch]="variant">
    <button 
        *ngSwitchCase="'raised'" 
        mat-raised-button class="btn" 
        [ngClass]="[size, color]" 
        [style.color]="'#fff'" 
        [disabled]="disabled" 
        (click)="onClick.emit()">
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        {{ label }}
    </button>

    <button 
        *ngSwitchCase="'icon'" 
        mat-icon-button class="btn" 
        [ngClass]="[size, color]" 
        [disabled]="disabled" 
        (click)="onClick.emit()">
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>

    <button
        mat-button
        *ngSwitchDefault class="btn" 
        [disabled]="disabled" 
        (click)="onClick.emit()">
        <mat-icon
            class="icon"
            fontSet="material-symbols-outlined"
            [ngClass]="[iconSize, iconColor]"
            *ngIf="icon">
            {{ icon }}
        </mat-icon>
    </button>
</ng-container>