<app-container-form [width]="'550px'" [minHeight]="'450px'">
    <form [formGroup]="form" class="register">
        <div class="col-12 mt-25">
            <app-field 
                formControlName="name" 
                [label]="message.inputs.name"
                [placeholder]="message.inputs.placeholder.name"
            ></app-field>
            <app-field 
                formControlName="phone" 
                [label]="message.inputs.phone"
                [placeholder]="message.inputs.placeholder.phone"
                [mask]="'(00) 00000-0000'"
            ></app-field>
            <app-field 
                formControlName="email" 
                [label]="message.inputs.email"
                [placeholder]="message.inputs.placeholder.email"
            ></app-field>
            <app-field 
                formControlName="password" 
                [label]="message.inputs.password"
                type="password" 
                [placeholder]="message.inputs.placeholder.password"
            ></app-field>
            <app-field 
                formControlName="confirmPassword" 
                [label]="message.inputs.confirm_password"
                type="password" 
                [placeholder]="message.inputs.placeholder.confirm_password"
            ></app-field>
        </div>
        <div class="col-12 d-flex justify-space-around mt-20">
            <app-button 
                [label]="message.button.cancel"
                [size]="'large'"
                [color]="'link'"
                (onClick)="cancel()"
            ></app-button>
            <app-button 
                [label]="message.button.save"
                [size]="'large'"
                (onClick)="register()"
                [disabled]="form.invalid"
            ></app-button>
        </div>
        <div class="col-12 d-flex justify-center mt-10">
            <a class="font-body" routerLink="/auth/login">Já possuo conta</a>
        </div>
    </form>
</app-container-form>