
<app-container-form
    [title]="isEditMode ? 'Editar Tarefa' : 'Nova Tarefa'"
    [width]="'700px'"
    [minHeight]="'400px'"
    >
    <form [formGroup]="form" class="row">
        <div class="col-12">
            <span class="font-title">{{ messages.inputs.title_task }}</span>
            <app-field 
                formControlName="title" 
                [placeholder]="messages.inputs.placeholder.task">
            </app-field>
        </div>
        <div class="col-12">
            <span class="font-title">{{ messages.inputs.description }}</span>
            <app-field 
                formControlName="description" 
                [placeholder]="messages.inputs.placeholder.description">
            </app-field>
        </div>
        <div class="col-12 row">
            <span class="font-title col-5">{{ messages.inputs.due_date }}</span>
            <mat-form-field appearance="outline" class="col-7">
                <input matInput formControlName="dueDate" [matDatepicker]="picker1" placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 row">
            <span class="font-title col-5">{{ messages.inputs.category }}</span>
            <app-field
                class="col-7"
                formControlName="category" 
                [placeholder]="messages.inputs.placeholder.category">
            </app-field>
        </div>
        <div class="col-12 row">
            <span class="font-title col-5">{{ messages.inputs.priority }}</span>
            <div class="col-7">
                <app-dropdown
                    class="col-10"
                    [options]="categories"
                    formControlName="priority"
                    [displayProperty]="'label'"
                    [multiple]="false"
                    [idProperty]="'value'"
                    [placeholder]="messages.inputs.placeholder.priority"
                ></app-dropdown>
            </div>
        </div>
        <div class="col-12 row">
            <span class="font-title col-2">{{ messages.inputs.status }}</span>
            <mat-radio-group aria-label="Selecione o status" formControlName="status" class="col-10">
                <mat-radio-button value="Pending">{{ messages.inputs.to_do }}</mat-radio-button>
                <mat-radio-button value="In Progress">{{ messages.inputs.in_progress }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-12 mt-15 d-flex justify-space-around">
            <app-button
                [label]="messages.button.cancel"
                (onClick)="cancel()"
                [color]="'accent'"
                [size]="'extra-large'"
                >
            </app-button>
            <app-button
                [label]="messages.button.save"
                (onClick)="save()"
                [size]="'extra-large'">
            </app-button>
        </div>
    </form>
</app-container-form>

