<app-container-form
    [minHeight]="'350px'"
    [width]="'500px'">
    <form [formGroup]="form" class="login">
        <div class="col-12 mt-25">
            <app-field 
                formControlName="email" 
                [label]="message.inputs.email"
                [placeholder]="message.inputs.placeholder.email"></app-field>
            <app-field 
                formControlName="password" 
                [label]="message.inputs.password"
                type="password" 
                [placeholder]="message.inputs.placeholder.password">
            </app-field>
        </div>
        <div class="col-12 d-flex justify-center mt-25">
            <app-button 
                [label]="message.button.enter"
                [size]="'extra-large'"
                (onClick)="login()" 
                [disabled]="form.invalid"></app-button>
        </div>
        <div class="col-12 d-flex justify-center mt-10">
            <a class="font-body" routerLink="/auth/register">Criar conta</a>
        </div>
    </form>
</app-container-form>
