<app-container-form
    [minHeight]="350"
    [width]="500">
    <form [formGroup]="form" class="login">
        <div class="col-12 mt-25">
            <app-field 
                formControlName="email" 
                label="Email"
                placeholder="Digite seu e-mail"></app-field>
            <app-field 
                formControlName="password" 
                label="Senha"
                type="password" 
                placeholder="Digite sua senha">
            </app-field>
        </div>
        <div class="col-12 d-flex justify-center mt-25">
            <app-button 
                label="Entrar"
                [size]="'extra-large'"
                (click)="login()" 
                [disabled]="form.invalid"></app-button>
        </div>
        <div class="col-12 d-flex justify-center mt-10">
            <a class="font-body" routerLink="/auth/register">Criar conta</a>
        </div>
    </form>
</app-container-form>
