<div class="modal">
    <div class="d-flex justify-space-between align-center ml-15">
        <h2 class="font-title">{{data.title}}</h2>
        <mat-icon 
            class="cursor-pointer mb-15"
            (click)="onCancel()">
            cancel
        </mat-icon>
    </div>
    <mat-dialog-content>
        <p class="font-subtitle">{{data.message}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <ng-container
            *ngIf="data.contentTemplate"
            [ngTemplateOutlet]="data.contentTemplate"
            [ngTemplateOutletContext]="{ dialogRef: dialogRef }"
        ></ng-container>
    </mat-dialog-actions>
</div>