<mat-form-field 
    appearance="outline" 
    [style.width]="width"
    >
    <mat-label>{{label}}</mat-label>
    
    <mat-select 
        [multiple]="multiple"
        [value]="value"
        [placeholder]="placeholder"
        (selectionChange)="onSelect($event.value)">
        <mat-select-trigger *ngIf="multiple">
            {{ getFirstSelectedLabel() }}
            <ng-container *ngIf="value?.length > 1">
                <span>
                    (+{{ value?.length - 1 }}{{ value?.length === 2 ? '' : 's' }})
                </span>
            </ng-container>
        </mat-select-trigger>

        <ng-container *ngIf="multiple">
            <mat-select-trigger *ngIf="value">
                {{ value }}
            </mat-select-trigger>
        </ng-container>

        <mat-option *ngFor="let option of options" [value]="option[idProperty]">
            {{ option[displayProperty] }}
        </mat-option>
    </mat-select>

</mat-form-field>