.container-form {
    margin: 100px auto;
    border-radius: var(--raiuds-md);
    background-color: var(--background-light);

    .title {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        color: var(--background-light);
        border-radius: var(--radius-md) var(--radius-md) 0 0;

        &.primary {
            background-color: var(--blue-dark);
        }

        &.link {
            background-color: var(--blue-cancel);
        }

        &.none {
            background-color: var(--blue-light);
            color: var(--text-color);
        }
    }

    .content {
        padding: 3rem;
    }
}