.container-form {
    margin: 100px auto;
    border-radius: var(--raiuds-md);
    background-color: var(--background-light);

    .title {
        background-color: var(--blue-dark);
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        color: var(--background-light);
        border-radius: var(--radius-md) var(--radius-md) 0 0;
    }

    .content {
        padding: 3rem;
    }
}