.profile-main {
    margin: 5em;

    .upload {
        width: 100px;
        padding: 2em 4em;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--blue-lighter);
    }

    .historic {
        margin-bottom: 2em;
        
        h3 {
            color: var(--blue-navy);
            font-weight: 500;
        }
    }
}