.board {
    width: 100%;
    background: #F0F8FF;
    height: 70vh;
    padding: 1rem;
    padding-top: 2em;

    .stack {
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }

    .board .stack>* {
        width: 100%;
        box-sizing: border-box;
    }

    .stepper {
        width: 250px;
        margin: 10px;
        padding: 1.5rem 2rem;
        display: flex;
        border-radius: var(--radius-md);
        color: var(--background-white);
    }

    .task {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}