<section class="board">
    <div class="row">
        <div *ngFor="let stepper of steppers" class="stepper font-title col-4" [style.backgroundColor]="stepper.color">
            {{ stepper.label }}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="stack">
                <div 
                    class="task" 
                    *ngFor="let task of (boardList.get('A Fazer') || [])">
                    <app-task-card 
                        [task]="task"
                        (edit)="updateStatus($event)"
                    ></app-task-card>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="stack">
                <div 
                    class="task" 
                    *ngFor="let task of (boardList.get('Em Andamento') || [])">
                    <app-task-card 
                        [task]="task"
                        (edit)="updateStatus($event)"
                    ></app-task-card>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="stack">
                <div 
                    class="task" 
                    *ngFor="let task of (boardList.get('Concluído') || [])">
                    <app-task-card [task]="task"></app-task-card>
                </div>
            </div>
        </div>
    </div>

    
</section>