<section class="board">
    <div class="row">
        <div *ngFor="let stepper of steppers" class="stepper font-title col-4" [style.backgroundColor]="stepper.color">
            {{ stepper.label }}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="stack">
                <ng-container *ngFor="let task of (boardList.get('A Fazer') || [])">
                    <div class="task">
                        <app-task-card [task]="task"></app-task-card>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="col-4">
            <div class="stack">
                <ng-container *ngFor="let task of (boardList.get('Em Andamento') || [])">
                    <div class="task">
                        <app-task-card [task]="task"></app-task-card>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="col-4">
            <div class="stack">
                <ng-container *ngFor="let task of (boardList.get('Concluído') || [])">
                    <div class="task">
                        <app-task-card [task]="task"></app-task-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    
</section>