.board {
    width: 100%;
    background: #F0F8FF;
    height: 100vh;

    .board .stack {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 75%;
    }

    .board .stack>* {
        width: 100%;
        box-sizing: border-box;
    }

    .stepper {
        width: 250px;
        margin: 10px;
        padding: 1.5rem 2rem;
        display: flex;
        border-radius: 8px;
        color: var(--background-white);
    }

    .task {
        width: 250px;
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 15px 0 15px 10px;
    }
}