.snackbar-container {
  gap: 8px;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 5px 10px;
  background-color: var(--background-white);

  .icon {
    &.success {
      color: var(--status-success);
    }

    &.error {
      color: var(--status-danger);
    }

    &.warning {
      color: var(--status-warning);
    }
  }
}