<div *ngIf="format === 'grid'" class="card-grid" [ngClass]="{ 'alert-card': task?.isExpired }">
    <div class="font-title mb-10 d-flex justify-space-between align-center ">
        <span class="font-title mb-10">{{ task?.title }}</span>
        <mat-icon 
            *ngIf="task?.isExpired" 
            color="warn" 
            matTooltip="Tarefa expirada"
            matToltipPosition="above">warning</mat-icon>
    </div>
    <p class="font-body mb-20 information">{{ task?.description }}</p>
    <div class="mt-25 d-flex justify-start align-center date">
        <mat-icon>calendar_month</mat-icon>
        <span class="font-body ml-10">Data: {{ task?.dueDate | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="mt-15">
        <app-tag 
            [value]="task?.category || ''"
            [priority]="task?.priority || 'Low'">
        </app-tag>
    </div>
</div>

<div *ngIf="format === 'list'" class="card-list row" [ngClass]="{ 'alert-card': task?.isExpired }">
    <div class="col-4 d-flex flex-column justify-center">
        <span class="font-title mb-10">{{ task?.title }}</span>
        <p class="font-body mb-20 information">{{ task?.description }}</p>
    </div>
    
    <div class="d-flex justify-start align-center date col-2">
        <mat-icon>calendar_month</mat-icon>
        <span class="font-body ml-10">Data: {{ task?.dueDate | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="col-2 d-flex align-center justify-center">
        <app-tag 
            [value]="task?.category || ''"
            [priority]="task?.priority || 'Low'">
        </app-tag>
        <mat-icon 
            *ngIf="task?.isExpired"
            class="ml-10" 
            color="warn" 
            matTooltip="Tarefa expirada"
            matToltipPosition="above">warning</mat-icon>
    </div>
    <div class="col-2 d-flex align-center justify-space-evenly">
        <app-button
            [icon]="'edit_document'"
            (click)="edit.emit(task)"
            [variant]="'none'"
            [iconSize]="'icon-lg'"
            [iconColor]="'icon-primary'"
        />
        <app-button
            [icon]="'delete'"
            (click)="delete.emit()"
            [variant]="'none'"
            [iconSize]="'icon-lg'"
        />
    </div>
</div>
