.card-grid {
    background-color: var(--background-white);
    width: 100%;
    min-height: 150px;
    padding: 1.5rem 2rem;
    border-radius: var(--radius-md);
    cursor: move;

    .description {
        height: 35px;
        display: block;
    }
}

.card-list {
    min-height: 100px;
    width: 97%;
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--background-white);
}

.alert-card {
    border: 2px solid var(--status-danger);
}

.information {
    color: var(--text-shadown) !important;
    font-weight: 500;
}

.date {
    color: var(--blue-base);
}

.title-card {
    color: var(--text-color);
    font-size: 20px;
}